h2 {
	margin-bottom: 10px;
}
p {
	margin-bottom: 30px;
}
.vertical-bottom {
	vertical-align: bottom;
}
.mainbox {
	margin-top: 30px;
}
.forgot-password {
	float: right;
	font-size: 80%;
	position: relative;
	top: -10px;
}